# Задание №1

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')
data_1 = pd.read_csv('movies.csv')

In [3]:
data_2 = data.merge(data_1, how='left', on='movieId')
data_2.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [4]:
data_2[data_2['rating']==5.0]['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Задание №2

In [6]:
"""По данным файла power.csv посчитайте суммарное потребление стран 
Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity."""

data_=pd.read_csv('power.csv')
data_year=data_[(data_ ['year'] >= 2005) & (data_['year'] <= 2010) & (data_['quantity'] > 0)]
category = data_year.loc [ (data_year ['category'] == 4 ) | (data_year['category'] == 12) | (data_year['category'] == 21) ]
country_ = category .loc[(category.country == 'Latvia') | (category.country == 'Estonia') | (category .country == 'Lithuania')]
summ = country_['quantity'].sum()
print(f'Cуммарное потребление  стран Прибалтики - {summ}')

Cуммарное потребление  стран Прибалтики - 240580.0

# Задание №3

In [7]:
"""Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe"""
# page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
df.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1020301,-,1020564,"-0,03 %",-00263,13.02.2021
1,NaN,EUR/RUB,892485,-,893945,"-0,16 %",-01460,13.02.2021
2,NaN,USD/RUB,736520,-,736500,"0,00 %",00020,13.02.2021
3,NaN,JPY/RUB,07019,-,07020,"-0,03 %",-00002,13.02.2021
4,NaN,CNY/RUB,114045,-,114049,"0,00 %",-00004,13.02.2021